@charset "UTF-8";
@mixin content($conMaxWidth,$conPaddingT,$conPaddingL){
    .content{
        width: 100%;
        max-width: $conMaxWidth;
        margin-left: auto;
        margin-right: auto;
        padding-top: $conPaddingT;
        padding-left: $conPaddingL; 
    }
}

@mixin content_1($conMaxWidth,$conPaddingT,$conPaddingL){
    .content{
        width: 100%;
        max-width: $conMaxWidth;
        margin-left: auto;
        margin-right: auto;
        padding-top: $conPaddingT;
        padding-left: $conPaddingL; 
        border:15px solid #fff;
        border-radius: 10px;
        @content;
    }
}
@mixin content_2($conMaxWidth,$conPaddingT:null,$conPaddingL:null){
    .content{
        width: 100%;
        max-width: $conMaxWidth;
        margin-left: auto;
        margin-right: auto;
        padding-top: $conPaddingT;
        padding-left: $conPaddingL; 
        border:15px solid #fff;
        border-radius: 10px;
        @content;
    }
}

@mixin content_3($conMaxWidth,$conPaddingT:null,$conPaddingR:null,$conPaddingL:null){
    .content{
        width: 100%;
        max-width: $conMaxWidth;
        margin-left: auto;
        margin-right: auto;
        padding-top: $conPaddingT;
        padding-left: $conPaddingL; 
        padding-right: $conPaddingR; 
        border:15px solid #fff;
        border-radius: 10px;
        @content;
    }
}

@mixin content_4-xs($conMaxWidth,$conPaddingT:null,$conPaddingR:null,$conPaddingL:null){
    .content{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        max-width: $conMaxWidth;        
        padding-top: $conPaddingT;
        padding-left: $conPaddingL; 
        padding-right: $conPaddingR; 
        border:10px solid #fff;
        border-radius: 10px;
        box-sizing: border-box;
        @content;
    }
}